In [1]:
# dependencies

import pandas as pd
from sqlalchemy import create_engine, inspect

In [2]:
# read raw data csv

csv_file = "NYC_Dog_Licensing_Dataset.csv"
all_dog_data = pd.read_csv(csv_file)
all_dog_data.head(10)

,RowNumber,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,CommunityDistrict,CensusTract2010,NTA,CityCouncilDistrict,CongressionalDistrict,StateSenatorialDistrict,LicenseIssuedDate,LicenseExpiredDate
0,533,BONITA,F,05/01/2013 12:00:00 AM,Unknown,Queens,11435.0,412.0,208.0,QN61,28.0,5.0,10.0,10/24/2014,11/15/2017
1,548,ROCKY,M,05/01/2014 12:00:00 AM,Labrador Retriever Crossbreed,Queens,11691.0,414.0,100801.0,QN15,31.0,5.0,10.0,10/25/2014,10/25/2019
2,622,BULLY,M,07/01/2010 12:00:00 AM,American Pit Bull Terrier/Pit Bull,Queens,11419.0,410.0,98.0,QN55,28.0,5.0,10.0,10/28/2014,09/24/2016
3,633,COCO,M,02/01/2005 12:00:00 AM,Labrador Retriever,Queens,11692.0,414.0,964.0,QN12,31.0,5.0,10.0,10/29/2014,10/29/2017
4,655,SKI,F,09/01/2012 12:00:00 AM,American Pit Bull Terrier/Pit Bull,Queens,11691.0,414.0,100802.0,QN15,31.0,5.0,10.0,10/31/2014,10/31/2019
5,872,CHASE,M,11/01/2013 12:00:00 AM,Shih Tzu,Queens,11692.0,414.0,964.0,QN12,31.0,5.0,10.0,11/23/2014,11/23/2016
6,874,CHEWY,M,09/01/2014 12:00:00 AM,Shih Tzu,Queens,11694.0,414.0,94201.0,QN10,32.0,5.0,10.0,11/24/2014,11/24/2016
7,875,CHASE,M,08/01/2008 12:00:00 AM,Labrador Retriever,Queens,11691.0,414.0,992.0,QN12,31.0,5.0,10.0,11/24/2014,11/25/2017
8,893,MILEY,F,07/01/2008 12:00:00 AM,Boxer,Queens,11419.0,410.0,15802.0,QN55,28.0,5.0,10.0,11/26/2014,01/21/2016
9,919,KENZI,F,05/01/2010 12:00:00 AM,"Schnauzer, Miniature",Queens,11420.0,410.0,84601.0,QN55,28.0,5.0,10.0,11/27/2014,01/03/2016

In [3]:
# trim data frame to necessary columns

dog_data_df = all_dog_data[['AnimalName','AnimalGender','BreedName','Borough','ZipCode']]
dog_data_df.head(10)

  AnimalName AnimalGender                           BreedName Borough  ZipCode
0    BONITA             F                             Unknown  Queens  11435.0
1      ROCKY            M       Labrador Retriever Crossbreed  Queens  11691.0
2      BULLY            M  American Pit Bull Terrier/Pit Bull  Queens  11419.0
3      COCO             M                  Labrador Retriever  Queens  11692.0
4       SKI             F  American Pit Bull Terrier/Pit Bull  Queens  11691.0
5      CHASE            M                            Shih Tzu  Queens  11692.0
6     CHEWY             M                            Shih Tzu  Queens  11694.0
7      CHASE            M                  Labrador Retriever  Queens  11691.0
8      MILEY            F                               Boxer  Queens  11419.0
9      KENZI            F                Schnauzer, Miniature  Queens  11420.0

In [4]:
# remove incomplete rows

dog_data_df.count()

AnimalName      121714
AnimalGender    121948
BreedName       121948
Borough         121948
ZipCode         121948
dtype: int64

In [5]:
cleaned_dog_data_df = dog_data_df.dropna(how='any')

In [6]:
cleaned_dog_data_df.count()

AnimalName      121713
AnimalGender    121713
BreedName       121713
Borough         121713
ZipCode         121713
dtype: int64

In [7]:
# reformat zip code as integer

cleaned_dog_data_df['ZipCode'] = cleaned_dog_data_df['ZipCode'].astype(int)
cleaned_dog_data_df.head(10)

C:\Users\emily\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

  AnimalName AnimalGender                           BreedName Borough  ZipCode
0    BONITA             F                             Unknown  Queens    11435
1      ROCKY            M       Labrador Retriever Crossbreed  Queens    11691
2      BULLY            M  American Pit Bull Terrier/Pit Bull  Queens    11419
3      COCO             M                  Labrador Retriever  Queens    11692
4       SKI             F  American Pit Bull Terrier/Pit Bull  Queens    11691
5      CHASE            M                            Shih Tzu  Queens    11692
6     CHEWY             M                            Shih Tzu  Queens    11694
7      CHASE            M                  Labrador Retriever  Queens    11691
8      MILEY            F                               Boxer  Queens    11419
9      KENZI            F                Schnauzer, Miniature  Queens    11420

In [8]:
# connect to postgres to create dog database

engine = create_engine('postgres://postgres:postgres@localhost:5432')
conn = engine.connect()
conn.execute("commit")
conn.execute("drop database if exists dog_db")
conn.execute("commit")
conn.execute("create database dog_db")

In [9]:
# import dataframe into database table

engine = create_engine('postgres://postgres:postgres@localhost:5432/dog_db')
conn = engine.connect()
cleaned_dog_data_df.to_sql('dog_names', con=conn, if_exists='replace', index=False)

In [10]:
# check for data

engine.execute('SELECT * FROM dog_names').fetchall()

[('BONITA ', 'F', 'Unknown', 'Queens', 11435),
 ('ROCKY', 'M', 'Labrador Retriever Crossbreed', 'Queens', 11691),
 ('BULLY', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11419),
 ('COCO ', 'M', 'Labrador Retriever', 'Queens', 11692),
 ('SKI ', 'F', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11691),
 ('CHASE', 'M', 'Shih Tzu', 'Queens', 11692),
 ('CHEWY ', 'M', 'Shih Tzu', 'Queens', 11694),
 ('CHASE', 'M', 'Labrador Retriever', 'Queens', 11691),
 ('MILEY', 'F', 'Boxer', 'Queens', 11419),
 ('KENZI', 'F', 'Schnauzer, Miniature', 'Queens', 11420),
 ('APOLLO ', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11420),
 ('BELLA ', 'F', 'Yorkshire Terrier', 'Queens', 11434),
 ('PENELOPE ', 'F', 'Yorkshire Terrier', 'Queens', 11434),
 ('JERRY', 'M', 'Labrador Retriever', 'Queens', 11436),
 ('HAZEL', 'F', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11434),
 ('SIMON', 'M', 'Havanese', 'Queens', 11691),
 ('PRINCESS', 'F', 'Shih Tzu', 'Queens', 11417),
 ('PEPPER', 'F', 'Shih Tzu', 'Queens', 11417),
 ('PEBBLES', 'F', 'Yorkshire Terrier', 'Queens', 11417),
 ('BUDDY', 'M', 'Labrador Retriever Crossbreed', 'Queens', 11692),
 ('NAME NOT PROVIDED', 'F', 'Chihuahua', 'Queens', 11420),
 ('CODY ', 'M', 'Lhasa Apso', 'Queens', 11420),
 ('CHAMP', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11420),
 ('J.D', 'M', 'Jack Russell Terrier', 'Queens', 11434),
 ('TIGGER', 'M', 'Jack Russell Terrier', 'Queens', 11694),
 ('KUSH ', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11422),
 ('PATCHES', 'F', 'Bulldog', 'Queens', 11691),
 ('LUNA', 'F', 'Yorkshire Terrier', 'Queens', 11418),
 ('FUDGE ', 'M', 'American Pit Bull Terrier/Pit Bull', 'Brooklyn', 11692),
 ('CRAZY ', 'F', 'American Staffordshire Terrier ', 'Queens', 11436),
 ('NAME NOT PROVIDED', 'F', 'Shih Tzu', 'Queens', 11419),
 ('NAME NOT PROVIDED', 'F', 'Unknown', 'Queens', 11418),
 ('NAME NOT PROVIDED', 'F', 'Puggle', 'Queens', 11418),
 ('ACE ', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11416),
 ('FRECKLES', 'F', 'English Cocker Spaniel', 'Queens', 11418),
 ('LILY', 'F', 'Labrador Retriever Crossbreed', 'Queens', 11419),
 ('UNKNOWN', 'M', 'Cocker Spaniel', 'Queens', 11436),
 ('MISSY ', 'F', 'Yorkshire Terrier', 'Queens', 11434),
 ('BENJI ', 'M', 'West Highland White Terrier', 'Queens', 11419),
 ('TORIS', 'M', 'Chihuahua', 'Queens', 11434),
 ('ROCKY', 'M', 'Staffordshire Bull Terrier', 'Queens', 11419),
 ('MATIS', 'F', 'Poodle', 'Queens', 11434),
 ('TINKERBELL ', 'F', 'Shih Tzu', 'Queens', 11417),
 ('ARI', 'F', 'Pomeranian', 'Queens', 11434),
 ('NAME NOT PROVIDED', 'M', 'Bull Dog, French', 'Queens', 11422),
 ('BELLA ', 'F', 'Maltese', 'Queens', 11420),
 ('JAZZIE ', 'F', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11691),
 ('NAME NOT PROVIDED', 'M', 'Yorkshire Terrier', 'Queens', 11691),
 ('OREO', 'M', 'Shih Tzu', 'Queens', 11419),
 ('SKIPPY', 'M', 'Unknown', 'Queens', 11420),
 ('UNKNOWN', 'F', 'Cairn Terrier', 'Queens', 11434),
 ('BINX', 'M', 'Unknown', 'Queens', 11691),
 ('BIG ', 'F', 'Miniature Pinscher', 'Queens', 11692),
 ('STAR', 'F', 'Poodle', 'Brooklyn', 11693),
 ('PINKY', 'F', 'Maltese', 'Queens', 11418),
 ('NAME NOT PROVIDED', 'M', 'Chihuahua', 'Queens', 11434),
 ('NAME NOT PROVIDED', 'M', 'Unknown', 'Queens', 11692),
 ('SMOKEY', 'M', 'Unknown', 'Queens', 11691),
 ('TOBY', 'M', 'Yorkshire Terrier', 'Queens', 11436),
 ('JEWEL', 'F', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11436),
 ('COURAGE', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11691),
 ('POPO ', 'M', 'Chihuahua', 'Queens', 11418),
 ('NAME NOT PROVIDED', 'M', 'Unknown', 'Queens', 11691),
 ('OLLIVER ', 'M', 'Pekingese', 'Queens', 11420),
 ('NAME NOT PROVIDED', 'F', 'Unknown', 'Queens', 11435),
 ('NAME NOT PROVIDED', 'M', 'Yorkshire Terrier', 'Queens', 11434),
 ('TUFFY', 'F', 'Chow Chow', 'Queens', 11434),
 ('BROOKLYN', 'F', 'Maltese', 'Queens', 11436),
 ('UNKNOWN', 'M', 'Unknown', 'Queens', 11416),
 ('UNKNOWN', 'F', 'Unknown', 'Queens', 11418),
 ('JORDAN', 'M', 'Shih Tzu', 'Queens', 11434),
 ('SASHA', 'F', 'Yorkshire Terrier', 'Queens', 11420),
 ('CHAMP', 'M', 'Pomeranian', 'Queens', 11418),
 ('XANDY', 'F', 'German Shepherd Dog', 'Queens', 11420),
 ('NAME NOT PROVIDED', 'M', 'Boxer', 'Queens', 11419),
 ('NAME NOT PROVIDED', 'M', 'Beagle', 'Queens', 11420),
 ('SWAGGER', 'F', 'Jack Russell Terrier', 'Queens', 11434),
 ('CHAMP ', 'M', 'Pomeranian', 'Queens', 11418),
 ('SPARKY', 'M', 'Unknown', 'Queens', 11418),
 ('OREO', 'M', 'Shih Tzu', 'Queens', 11436),
 ('BABY', 'F', 'Unknown', 'Queens', 11691),
 ('NAME NOT PROVIDED', 'M', 'Jack Russell Terrier', 'Queens', 11420),
 ('CHARLIE ', 'M', 'Labrador Retriever Crossbreed', 'Queens', 11691),
 ('SEAMUS', 'M', 'Unknown', 'Queens', 11417),
 ('RICKY', 'M', 'Schnauzer, Standard', 'Queens', 11416),
 ('HERSHEY', 'F', 'Chihuahua', 'Queens', 11434),
 ('BLUE', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11420),
 ('NALA ', 'F', 'Boxer', 'Queens', 11418),
 ('EMILY ', 'F', 'Beagle', 'Queens', 11420),
 ('TODD', 'M', 'German Shepherd Dog', 'Queens', 11419),
 ('MAX', 'M', 'Unknown', 'Queens', 11420),
 ('JAZZ ', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11433),
 ('BUDDY ', 'M', 'Unknown', 'Queens', 11692),
 ('DOZER', 'M', 'Unknown', 'Queens', 11420),
 ('MICKEY', 'M', 'Unknown', 'Queens', 11419),
 ('KASHMA', 'F', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11419),
 ('COKEY', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11420),
 ('TUNCHII', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11436),
 ('BLUE', 'M', 'Siberian Husky', 'Queens', 11420),
 ('MARLEY', 'M', 'Rottweiler', 'Queens', 11434),
 ('NIKKO ', 'M', 'Doberman Pinscher', 'Queens', 11420),
 ('TEA ', 'F', 'Chihuahua', 'Queens', 11436),
 ('UNKNOWN', 'F', 'Dachshund', 'Queens', 11416),
 ('UNKNOWN', 'F', 'Unknown', 'Queens', 11419),
 ('DANGER', 'M', 'Akita Crossbreed', 'Queens', 11413),
 ('SOPHIE', 'F', 'Shih Tzu', 'Queens', 11420),
 ('GINGER ', 'F', 'Shih Tzu', 'Queens', 11419),
 ('NAME NOT PROVIDED', 'F', 'German Shepherd Dog', 'Queens', 11419),
 ('DIPSEY ', 'F', 'Toy Fox Terrier', 'Queens', 11436),
 ('NICKY', 'M', 'Silky Terrier', 'Queens', 11691),
 ('UNKNOWN', 'F', 'Yorkshire Terrier', 'Queens', 11434),
 ('BRUCE ', 'M', 'Miniature Pinscher', 'Queens', 11691),
 ('KATIE', 'F', 'Unknown', 'Queens', 11418),
 ('VILLIAN', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11434),
 ('ROCKY', 'M', 'Papillon', 'Queens', 11422),
 ('MILES', 'M', 'Yorkshire Terrier', 'Queens', 11692),
 ('POODAH ', 'M', 'Shih Tzu', 'Queens', 11434),
 ('PINKY ', 'F', 'Shih Tzu', 'Queens', 11434),
 ('BLUE', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11433),
 ('SOFIE', 'F', 'Shiba Inu', 'Queens', 11691),
 ('CODY ', 'M', 'Maltese', 'Queens', 11434),
 ('BENJI ', 'F', 'Maltese', 'Queens', 11434),
 ('SHADOW', 'M', 'Poodle, Toy', 'Queens', 11436),
 ('STITCH ', 'M', 'Unknown', 'Queens', 11419),
 ('APPA', 'M', 'Schnauzer, Miniature', 'Queens', 11420),
 ('CHAZZ', 'M', 'Maltese', 'Queens', 11413),
 ('ZEUS ', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11433),
 ('KING', 'M', 'Maltese', 'Queens', 11422),
 ('BAILEY ', 'M', 'Dachshund, Long Haired Miniature', 'Queens', 11434),
 ('COBBY', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11419),
 ('JONNEY', 'M', 'Unknown', 'Queens', 11419),
 ('LADY', 'F', 'Pomeranian', 'Queens', 11436),
 ('LITTLE ', 'M', 'Cocker Spaniel', 'Queens', 11691),
 ('UNKNOWN', 'M', 'Yorkshire Terrier', 'Queens', 11419),
 ('MAX', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11434),
 ('RAFA', 'M', 'Yorkshire Terrier', 'Queens', 11434),
 ('MARLEY', 'M', 'Shih Tzu', 'Queens', 11434),
 ('PETEY', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11420),
 ('EAZY', 'M', 'Yorkshire Terrier', 'Queens', 11422),
 ('UNKNOWN', 'M', 'Australian Silky Terrier', 'Queens', 11419),
 ('PEPPER', 'F', 'Beagle', 'Queens', 11418),
 ('WILLIE', 'M', 'Maltese', 'Queens', 11693),
 ('MAYA ', 'F', 'Shih Tzu', 'Queens', 11420),
 ('LUCKY', 'M', 'Chihuahua', 'Queens', 11691),
 ('MUGSY', 'M', 'American Staffordshire Terrier ', 'Queens', 11692),
 ('MILO', 'M', 'Miniature Pinscher', 'Queens', 11422),
 ('BLUE', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11419),
 ('KOBA', 'M', 'German Shepherd Dog', 'Queens', 11416),
 ('DANE', 'M', 'Poodle Crossbreed', 'Queens', 11422),
 ('HARRY ', 'M', 'Jack Russell Terrier', 'Queens', 11691),
 ('SPARKY', 'M', 'Unknown', 'Queens', 11694),
 ('JACK ', 'M', 'German Shepherd Dog', 'Queens', 11416),
 ('CHLOE', 'F', 'Unknown', 'Queens', 11694),
 ('CJ', 'M', 'Yorkshire Terrier', 'Queens', 11434),
 ('POPPY ', 'F', 'Chihuahua', 'Queens', 11693),
 ('PILLOW ', 'M', 'Shih Tzu', 'Queens', 11693),
 ('BELLA', 'F', 'Yorkshire Terrier', 'Queens', 11420),
 ('PUGEY', 'F', 'Pug', 'Queens', 11693),
 ('CHUBBY', 'M', 'Poodle, Toy', 'Queens', 11420),
 ('ACE', 'M', 'Poodle', 'Queens', 11694),
 ('TRUCKDOGG ', 'M', 'Boston Terrier', 'Queens', 11435),
 ('PUCCIO', 'M', 'Doberman Pinscher', 'Queens', 11434),
 ('NAME NOT PROVIDED', 'M', 'Yorkshire Terrier', 'Queens', 11420),
 ('KING', 'M', 'Rottweiler', 'Queens', 11434),
 ('LOLA', 'F', 'Pekingese', 'Queens', 11434),
 ('NESSA', 'F', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11692),
 ('ZAX ', 'M', 'Cocker Spaniel', 'Queens', 11692),
 ('ZIANNI ', 'F', 'Cocker Spaniel', 'Queens', 11692),
 ('ERNIE', 'M', 'Parson Russell Terrier', 'Queens', 11434),
 ('HUNTER', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11422),
 ('CEASER', 'M', 'Jack Russell Terrier', 'Queens', 11418),
 ('UNKNOWN', 'M', 'Unknown', 'Queens', 11420),
 ('UNKNOWN', 'M', 'Unknown', 'Queens', 11692),
 ('PIKACHU', 'F', 'Chihuahua', 'Queens', 11434),
 ('UNKNOWN', 'F', 'Chihuahua', 'Queens', 11418),
 ('PLISSKEN', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11417),
 ('MAX', 'M', 'Unknown', 'Queens', 11421),
 ('DIESEL ', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11422),
 ('TASHA', 'F', 'Rottweiler', 'Queens', 11418),
 ('MARLOW', 'F', 'Schnauzer, Miniature', 'Queens', 11420),
 ('DICE ', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11691),
 ('JESSICA', 'F', 'Cavalier King Charles Spaniel', 'Queens', 11416),
 ('HARLEY', 'F', 'Havanese', 'Queens', 11692),
 ('MILO', 'M', 'Chihuahua', 'Queens', 11691),
 ('HAPPY', 'M', 'Yorkshire Terrier', 'Queens', 11420),
 ('MAUI', 'F', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11436),
 ('CEASAR', 'M', 'American Staffordshire Terrier ', 'Queens', 11692),
 ('ACE', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11434),
 ('FREEWAY', 'M', 'Welsh Corgi, Pembroke', 'Queens', 11691),
 ('SPOT ', 'F', 'American Staffordshire Terrier ', 'Queens', 11418),
 ('BRUNO ', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11433),
 ('BENTLEY', 'M', 'Yorkshire Terrier', 'Queens', 11413),
 ('DIAMOND', 'F', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11433),
 ('BISCUIT', 'F', 'Shih Tzu', 'Queens', 11420),
 ('JOEY', 'M', 'Boston Terrier', 'Queens', 11433),
 ('LEXI', 'F', 'Shih Tzu', 'Queens', 11434),
 ('CATO', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11433),
 ('MISAKI', 'F', 'Shiba Inu', 'Queens', 11693),
 ('DAKOTA', 'F', 'German Shepherd Dog', 'Queens', 11421),
 ('WHISKEY ', 'M', 'German Shepherd Crossbreed', 'Queens', 11434),
 ('LOKI', 'M', 'American Staffordshire Terrier ', 'Queens', 11691),
 ('CHICA ', 'F', 'Unknown', 'Queens', 11418),
 ('BELLA ', 'F', 'Yorkshire Terrier', 'Queens', 11691),
 ('RELLIE', 'M', 'Puggle', 'Queens', 11434),
 ('BELLA', 'F', 'Miniature Pinscher', 'Queens', 11419),
 ('MINNIE', 'F', 'Labrador Retriever', 'Queens', 11419),
 ('COOPER', 'M', 'German Shepherd Crossbreed', 'Queens', 11419),
 ('ZOE', 'F', 'Schnauzer, Miniature', 'Queens', 11418),
 ('MESKA', 'M', 'Shih Tzu', 'Queens', 11421),
 ('CHARLIE', 'M', 'Labrador Retriever', 'Queens', 11691),
 ('SAGE ', 'M', 'Dachshund, Long Haired', 'Queens', 11691),
 ('BOO ', 'M', 'Shih Tzu', 'Queens', 11434),
 ('SNOWBALL', 'M', 'Unknown', 'Queens', 11420),
 ('DARCY', 'F', 'Beagle', 'Queens', 11421),
 ('HENNEY ', 'F', 'Shar-Pei, Chinese', 'Queens', 11693),
 ('MAX', 'M', 'Unknown', 'Queens', 11692),
 ('TOMMY', 'M', 'Labrador Retriever', 'Queens', 11420),
 ('MAYA', 'F', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11692),
 ('VENUS', 'F', 'Labrador Retriever Crossbreed', 'Queens', 11692),
 ('FEMI', 'M', 'Shih Tzu', 'Queens', 11692),
 ('BEAR', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11418),
 ('PRINCIPIE ', 'M', 'Unknown', 'Queens', 11692),
 ('JETT', 'M', 'Labrador Retriever', 'Queens', 11417),
 ('NAME NOT PROVIDED', 'M', 'Unknown', 'Queens', 11420),
 ('BOOMER', 'M', 'Unknown', 'Queens', 11434),
 ('ROMEO', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11422),
 ('ROVER', 'M', 'Shih Tzu', 'Queens', 11434),
 ('NAME NOT PROVIDED', 'F', 'Chihuahua', 'Queens', 11413),
 ('DAEMON ', 'M', 'Siberian Husky', 'Queens', 11422),
 ('BUTCH', 'M', 'Rottweiler', 'Queens', 11418),
 ('MOLLY ', 'F', 'Golden Retriever', 'Queens', 11416),
 ('MAX ', 'M', 'Yorkshire Terrier', 'Queens', 11692),
 ('BLUE', 'M', 'Staffordshire Bull Terrier', 'Queens', 11418),
 ('UNKNOWN', 'F', 'Unknown', 'Queens', 11420),
 ('PATTI', 'F', 'Unknown', 'Queens', 11436),
 ('MIA', 'F', 'Mastiff, Bull', 'Queens', 11435),
 ('ZEUS ', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11433),
 ('CASEY ', 'M', 'Unknown', 'Queens', 11434),
 ('ROCKO', 'F', 'Rottweiler', 'Queens', 11435),
 ('NAME NOT PROVIDED', 'M', 'Chihuahua', 'Queens', 11691),
 ('TED', 'M', 'Yorkshire Terrier', 'Queens', 11420),
 ('TOBY', 'M', 'Jack Russell Terrier', 'Queens', 11419),
 ('JASHUA', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11419),
 ('JACK ', 'M', 'Pug', 'Queens', 11420),
 ('BROOKLYN', 'M', 'Boxer', 'Queens', 11418),
 ('SPARKI ', 'M', 'German Shepherd Dog', 'Queens', 11419),
 ('THOMAS ', 'M', 'Unknown', 'Queens', 11692),
 ('EMMA', 'F', 'Chesapeake Bay Retriever', 'Queens', 11692),
 ('TARA', 'F', 'Golden Retriever', 'Queens', 11419),
 ('PEACHES', 'F', 'Labrador Retriever Crossbreed', 'Queens', 11436),
 ('PEACHES', 'F', 'Unknown', 'Queens', 11693),
 ('ANGEL', 'F', 'Yorkshire Terrier', 'Queens', 11413),
 ('UNKNOWN', 'M', 'Cocker Spaniel', 'Queens', 11422),
 ('BRUCE', 'M', 'Maltese', 'Queens', 11420),
 ('TEDDY', 'M', 'Shih Tzu', 'Queens', 11692),
 ('EMMY', 'F', 'Unknown', 'Queens', 11435),
 ('PRINCESS ', 'F', 'Unknown', 'QUEENS', 11691),
 ('TOBY ', 'M', 'Shiba Inu', 'Queens', 11433),
 ('DELILAH', 'F', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11413),
 ('GIZMO', 'M', 'Pekingese', 'Queens', 11420),
 ('WATSON', 'M', 'Shih Tzu', 'Queens', 11434),
 ('ZOE', 'F', 'Unknown', 'QUEENS', 11419),
 ('CHESTNUT', 'F', 'Unknown', 'Queens', 11434),
 ('MILO ', 'M', 'Yorkshire Terrier', 'Queens', 11434),
 ('CAESAR ', 'M', 'Pomeranian', 'Queens', 11434),
 ('OLLIE', 'M', 'Chihuahua', 'Queens', 11419),
 ('DINO', 'M', 'Yorkshire Terrier', 'Queens', 11419),
 ('NAME NOT PROVIDED', 'M', 'Beagle', 'Queens', 11419),
 ('NEKO', 'M', 'Rottweiler', 'Queens', 11434),
 ('PUZZLE', 'F', 'Labrador Retriever Crossbreed', 'Queens', 11691),
 ('MISSIE', 'F', 'Yorkshire Terrier', 'Queens', 11419),
 ('MAXIMO', 'M', 'Labrador Retriever', 'Queens', 11420),
 ('BAMBAM', 'M', 'Maltipoo', 'Queens', 11692),
 ('MAXIMUS', 'M', 'Labrador Retriever', 'Queens', 11420),
 ('TYSON', 'M', 'Chihuahua', 'Queens', 11433),
 ('BELLE', 'F', 'Beagle', 'Queens', 11420),
 ('GIZMO', 'M', 'Havanese', 'Queens', 11416),
 ('WOW ', 'F', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11692),
 ('DIESEL', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11418),
 ('ADRIENNE', 'F', 'Yorkshire Terrier', 'Queens', 11434),
 ('LUCKY ', 'F', 'Pug', 'Queens', 11691),
 ('PARIS ', 'F', 'Pug', 'Queens', 11691),
 ('BUTTONS ', 'M', 'Pug', 'Queens', 11691),
 ('KRISTIAN ', 'M', 'Pug', 'Queens', 11691),
 ('JESSI', 'F', 'Rottweiler', 'Queens', 11420),
 ('SHUG', 'F', 'Rottweiler', 'Queens', 11420),
 ('JACK', 'M', 'Siberian Husky', 'Queens', 11420),
 ('KING', 'M', 'American Staffordshire Terrier ', 'Queens', 11420),
 ('BEAR', 'M', 'Siberian Husky', 'Queens', 11419),
 ('MOSELEY', 'M', 'Pug', 'Queens', 11691),
 ('CURLY', 'M', 'Poodle, Miniature', 'Queens', 11691),
 ('SOCAL', 'M', 'Unknown', 'Queens', 11418),
 ('ISHAM', 'M', 'Bulldog', 'Queens', 11419),
 ('VANLENTINO ', 'M', 'Yorkshire Terrier', 'Queens', 11420),
 ('KOUTURE ', 'F', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11433),
 ('BUDDY', 'M', 'German Shepherd Crossbreed', 'Queens', 11420),
 ('ENZO', 'M', 'Pomeranian', 'Queens', 11420),
 ('HARLEY', 'M', 'Pug', 'Queens', 11694),
 ('PIPPIN', 'M', 'Italian Greyhound', 'Queens', 11418),
 ('BUMBLE', 'M', 'Poodle, Toy', 'Queens', 11419),
 ('ASTIN', 'M', 'Bichon Frise', 'Queens', 11418),
 ('UNKNOWN', 'F', 'Pomeranian', 'Queens', 11692),
 ('SAM', 'M', 'Rottweiler', 'Queens', 11420),
 ('VADER', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11435),
 ('WILLOW', 'M', 'Shih Tzu', 'Queens', 11413),
 ('TOBY ', 'M', 'Jack Russell Terrier', 'Queens', 11417),
 ('HUNTER ', 'M', 'Unknown', 'Queens', 11692),
 ('SPIKE', 'M', 'German Shepherd Dog', 'Queens', 11416),
 ('GUCCI ', 'M', 'Yorkshire Terrier', 'Queens', 11433),
 ('PRECIOUS', 'F', 'Yorkshire Terrier', 'Queens', 11691),
 ('BENTLEY', 'M', 'Maltese', 'Queens', 11436),
 ('DAISY', 'F', 'Shih Tzu Crossbreed', 'Queens', 11422),
 ('MR. ', 'M', 'Shih Tzu Crossbreed', 'Queens', 11692),
 ('LEXI', 'F', 'Unknown', 'Queens', 11418),
 ('PRINCESS', 'F', 'Shih Tzu', 'Queens', 11691),
 ('LUCY', 'F', 'Havanese', 'Queens', 11433),
 ('DIVA ', 'F', 'Rottweiler', 'Queens', 11420),
 ('RALPH', 'M', 'Labrador Retriever', 'Queens', 11419),
 ('RAYMOND', 'M', 'Parson Russell Terrier', 'Queens', 11418),
 ('ROCCO ', 'M', 'Yorkshire Terrier Crossbreed', 'Queens', 11692),
 ('JUICY', 'F', 'Yorkshire Terrier', 'Queens', 11434),
 ('KINGSTON', 'M', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11434),
 ('LITTLE', 'F', 'Shih Tzu', 'Queens', 11691),
 ('BP', 'M', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11436),
 ('MAX', 'M', 'American Staffordshire Terrier ', 'Queens', 11419),
 ('MAGGIE ', 'F', 'Unknown', 'Queens', 11419),
 ('CHARLIE', 'M', 'Shih Tzu', 'Queens', 11422),
 ('BUSTER ', 'M', 'Bloodhound', 'Queens', 11419),
 ('COOKIE', 'F', 'Yorkshire Terrier', 'Queens', 11418),
 ('NAME NOT PROVIDED', 'M', 'Maltese', 'Queens', 11691),
 ('MILO', 'M', 'Unknown', 'Queens', 11419),
 ('UNKNOWN', 'F', 'Yorkshire Terrier', 'Queens', 11419),
 ('MARBLE', 'M', 'Unknown', 'Queens', 11419),
 ('CHILLY', 'F', 'Labrador Retriever Crossbreed', 'Queens', 11691),
 ('BUSTER ', 'M', 'Belgian Malinois', 'Queens', 11434),
 ('PEBBLES', 'F', 'Staffordshire Bull Terrier', 'Queens', 11419),
 ('NAMASTE', 'F', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11435),
 ('BJ', 'M', 'Labrador Retriever', 'Queens', 11435),
 ('BIG ', 'M', 'Unknown', 'Queens', 11691),
 ('SHINE', 'M', 'Jack Russell Terrier', 'Queens', 11692),
 ('NEGRO ', 'M', 'Poodle, Standard', 'Queens', 11413),
 ('CUZOW', 'F', 'Chihuahua Crossbreed', 'Queens', 11693),
 ('BANDIT', 'F', 'French Bulldog', 'Queens', 11418),
 ('JULIE', 'F', 'American Pit Bull Terrier/Pit Bull', 'Queens', 11413),
 ('SIMBA ', 'M', 'American Staffordshire Terrier ', 'Queens', 11420),
 ('BOLO ', 'M', 'American Bully', 'Queens', 11691),
 ('QUTIE ', 'F', 'American Bully', 'Queens', 11691),
 ('POLLY ', 'F', 'Shih Tzu', 'Queens', 11434),
 ('BOOGIE ', 'M', 'American Bully', 'Queens', 11691),
 ('ROCKBOTTOM ', 'M', 'Cane Corso', 'Queens', 11436),
 ('KIMBELLA', 'F', 'American Bully', 'Queens', 11691),
 ('SMOKEY', 'M', 'Labrador Retriever', 'Queens', 11419),
 ('SPARKY', 'M', 'Yorkshire Terrier Crossbreed', 'Queens', 11419),
 ('WINSTON ', 'M', 'Unknown', 'Queens', 11691),
 ('NO', 'M', 'Rat Terrier', 'Queens', 11420),
 ('MADISON', 'F', 'Australian Cattledog', 'Queens', 11413),
 ('JUSTIN', 'M', 'Pomeranian', 'Queens', 11434),
 ('LEXXI', 'F', 'American Pit Bull Mix / Pit Bull Mix', 'Queens', 11694),
 ('JAGUAR', 'M', 'Unknown', 'Queens', 11691),
 ('SCOTTIE ', 'M', 'Unknown', 'Queens', 11435),
 ('ZENA', 'F', 'Unknown', 'Queens', 11436),
 ('SPIKE ', 'M', 'Bull Terrier', 'QUEENS', 11693),

In [11]:
# inspect table names and column names

inspector = inspect(engine)
inspector.get_table_names()

['dog_names']

In [12]:
inspector = inspect(engine)
columns = inspector.get_columns('dog_names')
print(columns)

[{'name': 'AnimalName', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'AnimalGender', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'BreedName', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'Borough', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'ZipCode', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}]

In [13]:
# query the table and save as dataframe for analysis

dog_table = pd.read_sql_query('select * from dog_names', con=engine)
dog_table.head(20)

,AnimalName,AnimalGender,BreedName,Borough,ZipCode
0,BONITA,F,Unknown,Queens,11435
1,ROCKY,M,Labrador Retriever Crossbreed,Queens,11691
2,BULLY,M,American Pit Bull Terrier/Pit Bull,Queens,11419
3,COCO,M,Labrador Retriever,Queens,11692
4,SKI,F,American Pit Bull Terrier/Pit Bull,Queens,11691
5,CHASE,M,Shih Tzu,Queens,11692
6,CHEWY,M,Shih Tzu,Queens,11694
7,CHASE,M,Labrador Retriever,Queens,11691
8,MILEY,F,Boxer,Queens,11419
9,KENZI,F,"Schnauzer, Miniature",Queens,11420
10,APOLLO,M,American Pit Bull Terrier/Pit Bull,Queens,11420
11,BELLA,F,Yorkshire Terrier,Queens,11434
12,PENELOPE,F,Yorkshire Terrier,Queens,11434
13,JERRY,M,Labrador Retriever,Queens,11436
14,HAZEL,F,American Pit Bull Terrier/Pit Bull,Queens,11434
15,SIMON,M,Havanese,Queens,11691
16,PRINCESS,F,Shih Tzu,Queens,11417
17,PEPPER,F,Shih Tzu,Queens,11417
18,PEBBLES,F,Yorkshire Terrier,Queens,11417
19,BUDDY,M,Labrador Retriever Crossbreed,Queens,11692

In [14]:
# filter out unknown names

dog_data = dog_table.loc[(dog_table["AnimalName"] != "UNKNOWN") & (dog_table["AnimalName"] != "NAME NOT PROVIDED"), :]
dog_data.head(20)

,AnimalName,AnimalGender,BreedName,Borough,ZipCode
0,BONITA,F,Unknown,Queens,11435
1,ROCKY,M,Labrador Retriever Crossbreed,Queens,11691
2,BULLY,M,American Pit Bull Terrier/Pit Bull,Queens,11419
3,COCO,M,Labrador Retriever,Queens,11692
4,SKI,F,American Pit Bull Terrier/Pit Bull,Queens,11691
5,CHASE,M,Shih Tzu,Queens,11692
6,CHEWY,M,Shih Tzu,Queens,11694
7,CHASE,M,Labrador Retriever,Queens,11691
8,MILEY,F,Boxer,Queens,11419
9,KENZI,F,"Schnauzer, Miniature",Queens,11420
10,APOLLO,M,American Pit Bull Terrier/Pit Bull,Queens,11420
11,BELLA,F,Yorkshire Terrier,Queens,11434
12,PENELOPE,F,Yorkshire Terrier,Queens,11434
13,JERRY,M,Labrador Retriever,Queens,11436
14,HAZEL,F,American Pit Bull Terrier/Pit Bull,Queens,11434
15,SIMON,M,Havanese,Queens,11691
16,PRINCESS,F,Shih Tzu,Queens,11417
17,PEPPER,F,Shih Tzu,Queens,11417
18,PEBBLES,F,Yorkshire Terrier,Queens,11417
19,BUDDY,M,Labrador Retriever Crossbreed,Queens,11692

In [15]:
# count and sort names to find most popular

name_counts = pd.DataFrame(dog_data.groupby("AnimalName")["AnimalName"].count())
name_counts_df = name_counts.rename(columns={"AnimalName":"Count"})
name_counts_df.head()

            Count
AnimalName
  KNOX          1
  PANDORA       1
 BABIE JR.      1
 BELLA          1
 BELLE          2

In [16]:
# top 10 dog names in NYC

top_names = name_counts_df.sort_values(["Count"], ascending=False)
top_names.head(10)

            Count
AnimalName
BELLA        1008
MAX          1001
CHARLIE       750
LOLA          686
ROCKY         668
COCO          642
LUCY          581
BUDDY         559
LUCKY         551
DAISY         507

In [17]:
# top 10 female dog names

f_dog_data = dog_data.loc[dog_data["AnimalGender"] == "F", :]
f_dog_data.head()

,AnimalName,AnimalGender,BreedName,Borough,ZipCode
0,BONITA,F,Unknown,Queens,11435
4,SKI,F,American Pit Bull Terrier/Pit Bull,Queens,11691
8,MILEY,F,Boxer,Queens,11419
9,KENZI,F,"Schnauzer, Miniature",Queens,11420
11,BELLA,F,Yorkshire Terrier,Queens,11434

In [18]:
# top 10 female dog names

f_name_counts = pd.DataFrame(f_dog_data.groupby("AnimalName")["AnimalName"].count())
f_name_counts_df = f_name_counts.rename(columns={"AnimalName":"Count"})
f_top_names = f_name_counts_df.sort_values(["Count"], ascending=False)
f_top_names.head(10)

            Count
AnimalName
BELLA        1006
LOLA          682
LUCY          578
DAISY         503
LUNA          461
COCO          440
PRINCESS      428
CHLOE         416
MOLLY         409
BELLA         351

In [19]:
# top 10 male dog names

m_dog_data = dog_data.loc[dog_data["AnimalGender"] == "M", :]
m_name_counts = pd.DataFrame(m_dog_data.groupby("AnimalName")["AnimalName"].count())
m_name_counts_df = m_name_counts.rename(columns={"AnimalName":"Count"})
m_top_names = m_name_counts_df.sort_values(["Count"], ascending=False)
m_top_names.head(10)

            Count
AnimalName
MAX           985
CHARLIE       660
ROCKY         658
BUDDY         556
LUCKY         467
TOBY          411
TEDDY         408
JACK          347
MILO          345
OLIVER        332

In [20]:
# find the list of NYC boroughs

borough_counts = pd.DataFrame(dog_data.groupby("Borough")["AnimalName"].count())
borough_counts_df = borough_counts.rename(columns={"AnimalName":"Count"})
borough_dogs = borough_counts_df.sort_values(["Count"], ascending=False)
borough_dogs.head()

               Count
Borough
Manhattan      41067
Brooklyn       28642
Queens         23678
Bronx          12202
Staten Island  10586

In [21]:
# filer down to only those with complete borough names and genders

top_boroughs = dog_data.loc[(dog_data["Borough"] == "Manhattan") | (dog_data["Borough"] == "Brooklyn") | (dog_data["Borough"] == "Queens") | (dog_data["Borough"] == "Bronx") | (dog_data["Borough"] == "Staten Island"), :]
f_m_top_boroughs = top_boroughs.loc[(top_boroughs["AnimalGender"] == "F") | (top_boroughs["AnimalGender"] == "M"), :]
f_m_top_boroughs.head()

  AnimalName AnimalGender                           BreedName Borough  ZipCode
0    BONITA             F                             Unknown  Queens    11435
1      ROCKY            M       Labrador Retriever Crossbreed  Queens    11691
2      BULLY            M  American Pit Bull Terrier/Pit Bull  Queens    11419
3      COCO             M                  Labrador Retriever  Queens    11692
4       SKI             F  American Pit Bull Terrier/Pit Bull  Queens    11691

In [22]:
# dog counts by borough by gender

borough_data = f_m_top_boroughs.groupby(['Borough','AnimalGender'])["AnimalName"].count()
borough_dogs = pd.DataFrame(borough_data)
borough_dogs

                            AnimalName
Borough       AnimalGender
Bronx         F                   5329
              M                   6873
Brooklyn      F                  13010
              M                  15630
Manhattan     F                  19103
              M                  21962
Queens        F                  10447
              M                  13229
Staten Island F                   4821
              M                   5764

In [23]:
# top 10 dog names in each borough

# manhattan
mt_dog_data = dog_data.loc[dog_data["Borough"].str.contains("Manhattan", case=False), :]
mt_name_counts = pd.DataFrame(mt_dog_data.groupby("AnimalName")["AnimalName"].count())
mt_name_counts_df = mt_name_counts.rename(columns={"AnimalName":"Count"})
mt_top_names = mt_name_counts_df.sort_values(["Count"], ascending=False)
mt_top_names.head(10)

            Count
AnimalName
CHARLIE       292
LUCY          288
LOLA          275
BELLA         255
MAX           244
COCO          194
OLIVER        193
DAISY         185
SOPHIE        167
COOPER        167

In [24]:
# brooklyn
bk_dog_data = dog_data.loc[dog_data["Borough"].str.contains("Brooklyn", case=False), :]
bk_name_counts = pd.DataFrame(bk_dog_data.groupby("AnimalName")["AnimalName"].count())
bk_name_counts_df = bk_name_counts.rename(columns={"AnimalName":"Count"})
bk_top_names = bk_name_counts_df.sort_values(["Count"], ascending=False)
bk_top_names.head(10)

            Count
AnimalName
MAX           252
BELLA         238
CHARLIE       191
LOLA          164
ROCKY         153
LUCKY         148
LUCY          143
COCO          125
PRINCESS      123
CHLOE         119

In [25]:
# queens
qn_dog_data = dog_data.loc[dog_data["Borough"].str.contains("Queens", case=False), :]
qn_name_counts = pd.DataFrame(qn_dog_data.groupby("AnimalName")["AnimalName"].count())
qn_name_counts_df = qn_name_counts.rename(columns={"AnimalName":"Count"})
qn_top_names = qn_name_counts_df.sort_values(["Count"], ascending=False)
qn_top_names.head(10)

            Count
AnimalName
MAX           260
BELLA         229
ROCKY         182
COCO          174
LUCKY         156
CHARLIE       144
BUDDY         138
LOLA          115
PRINCESS      110
DAISY         108

In [26]:
# bronx
bx_dog_data = dog_data.loc[dog_data["Borough"].str.contains("Bronx", case=False), :]
bx_name_counts = pd.DataFrame(bx_dog_data.groupby("AnimalName")["AnimalName"].count())
bx_name_counts_df = bx_name_counts.rename(columns={"AnimalName":"Count"})
bx_top_names = bx_name_counts_df.sort_values(["Count"], ascending=False)
bx_top_names.head(10)

            Count
AnimalName
MAX           138
BELLA         126
ROCKY         109
PRINCESS       94
LUCKY          91
COCO           82
LOLA           74
CHARLIE        67
TOBY           64
BUDDY          59

In [27]:
# staten island
si_dog_data = dog_data.loc[dog_data["Borough"].str.contains("Staten Island", case=False), :]
si_name_counts = pd.DataFrame(si_dog_data.groupby("AnimalName")["AnimalName"].count())
si_name_counts_df = si_name_counts.rename(columns={"AnimalName":"Count"})
si_top_names = si_name_counts_df.sort_values(["Count"], ascending=False)
si_top_names.head(10)

            Count
AnimalName
BELLA         159
MAX           104
ROCKY         100
BUDDY          80
BAILEY         75
MOLLY          65
COCO           63
CHARLIE        56
DAISY          53
LOLA           52